---
layout: default
---

<div class="home">
<style media="screen">
  .btn {
                    background-color: #4CAF50;
                    color: white;
                    padding: 16px 20px;
                    border: none;
                    cursor: pointer;
                    width: 19%;
                    margin-bottom:10px;
                    opacity: 0.8;
                }
</style>
  <h1 class="page-heading">Posts </h1>
  Comming soon...

  <ul class="post-list" id='none'>


    {% assign sorted-posts = site.posts | reverse %}
    {% for post in sorted-posts %}
      <li>
        <h2 class="wrapper">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
              <!-- {% if post.image %}<img style="float: right" src="{{ post.image }}" height="200">{% endif %} -->
              {{ post.title }}
          </a>
        </h2>
      </li>
    {% endfor %}

  </ul>
  <hr style="border:3px solid #f1f1f1">
                          <input type="text" placeholder="Comment..."style="background-color: #f2f2f2; width: 80%;"   id="title"/>
                          <button id='but'type="button" class="btn cancel" onclick="post()" >Post</button>
                          <div id="comsect">

                          </div>
</div>
