---
layout: default
---
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js" integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH" crossorigin="anonymous"></script>

<div class="home">
<style media="screen">
  .btn {
                    background-color: #4CAF50;
                    color: white;
                    padding: 16px 20px;
                    border: none;
                    cursor: pointer;
                    width: 19%;
                    margin-bottom:10px;
                    opacity: 0.8;
                }
</style>

<style>
li  {
  background-image: url("sketch2.jpg");
}
</style>
  <h1 class="page-heading">Posts </h1>
  Comming soon...

  Final project idea is in the <a href="about/">about</a> page.
<!--before-->    <ul class="post-list" id='none'>


    {% assign sorted-posts = site.posts | reverse %}
    {% for post in sorted-posts %}
      <li>
        <h2 class="wrapper">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
              {% if post.image %}<img style="float: right" src="{{ post.image }}" height="200">{% endif %}

              {{ post.title }}
          </a>
        </h2>
      </li>
    {% endfor %}

  </ul>

  <!-- after -->
  <br>
  <br>
  <br>
  <br>
  <br><br><br>
  <hr style="border:3px solid #f1f1f1">
  Have any comments? Be sure to share them!
                          <input type="text" placeholder="Comment..."style="background-color: #f2f2f2; width: 80%;"   id="title"/>
                          <button id='but'type="button" class="btn cancel" onclick="post()" >Post</button>
                          <div id="comsect">

                          </div>
</div>
<script type="text/javascript">

 				 				var reqs = new XMLHttpRequest();

 								var datass = new FormData();
 								datass.append('id',"user");
 								reqs.open("post","https://www.thebroadcaststation.com/getcomsdig.php");
 								reqs.send(datass);
 								reqs.onreadystatechange = function(){
 									document.getElementById("comsect").innerHTML = reqs.responseText;

 								}
  function post(){

  var xhr = new XMLHttpRequest();
               var data = new FormData();
               data.append("value2",document.getElementById("title").value);
               xhr.open("post","https://www.thebroadcaststation.com/digfab.php",true);

               xhr.send(data);
               xhr.onreadystatechange = function(){


                   location.reload();


               }
             }
</script>
